#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultName{
  font-size: 24px;
}

.resultDesc{
  font-size: 22px;
}

.kakao{
  color: white;
  background-color: #FFE500;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #FFE500;
}
